bpe==1.0
hydra-core==1.2.0
jiwer==2.3.0
numpy==1.21.6
pandas==1.3.5
pydub==0.25.1
PySoundFile==0.9.0.post1
pytorch-lightning==1.6.4
tensorboard==2.9.1
torch==1.11.0
torchaudio==0.11.0
torchmetrics==0.9.1